.loading-photo {
  background-color: $gray-light;
  border-top: 1px solid $gray-light;
}

.loading-photo__result {
  margin: 20px;
}

.loading-photo__lists {
  margin: 30px 0;
  text-align: center;
}

.loading-photo__controls {
  position: relative;
}

.loading-photo__scale {
  margin: 0 auto;
  margin-bottom: 34px;
  width: 240px;
  height: 2px;
  background: $color-main;
}

.loading-photo__toggle {
  position: absolute;
  right: 75px;
  bottom: -6px;
  height: 10px;
  width: 10px;
  background: $gray-light;
  border: 2px solid $color-secondary;
  border-radius: 50%;
  cursor: pointer;
}

.loading-photo__btns {
  border-top: 1px solid $gray;
  padding-left: 20px;
  padding-top: 28px;
  padding-bottom: 31px;
}

.loading-photo__btn {
  padding: 13px 0;
  font-size: $font-size;
  line-height: $font-size;
  background-color: $gray-light;

  &-submit {
    border: 3px solid $color-secondary;
    color: $color-secondary;

    &:hover {
    background-color: $color-secondary;
    color: $color-link;
    }

    &:active {
    background-color: $color-secondary;
    color: $color-link--down;
    }
  }

  &-reset {
    border: 3px solid $gray;
    color: $gray;

    &:hover {
    border: 3px solid $gray-dark;
    color: $gray-dark;
    }

    &:active {
    background-color: $gray-dark;
    color: $color-link--down;
    }
  }
}
