.main-menu {
//  position: relative;
  width: 320px;
  min-height: 50px;
  margin: 0 auto;
//  background-color: $color-main;
}

.main-menu__top {
  position: relative;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.main-menu__toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  z-index: 2;
  font-size: 0;
  border: none;
  display: block;
  width: 50px;
  height: 20px;
  outline: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.0);

  &:hover {
    background-color: rgba(0, 0, 0, 0.0);
  }
  &:active {
    background-color: rgba(0, 0, 0, 0.0);
  }
}

.main-menu--closed .main-menu__toggle {
  &::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 2px;
  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff,
              0 16px 0 0 #ffffff;
 }

  &:hover {
    &::before {
      background-color: $color-secondary;
      box-shadow: 0 8px 0 0 $color-secondary,
                  0 16px 0 0 $color-secondary;
    }
  }

  &:active {
    &::before {
      background-color: $btn-down;
      box-shadow: 0 8px 0 0 $btn-down,
                0 16px 0 0 $btn-down;
    }
  }
}

.main-menu--opened .main-menu__toggle {
  &::before,
  &::after {
  content: "";
  position: absolute;
  top: 7px;
  right: 0;
  width: 22px;
  height: 2px;
  background-color: #ffffff;
 }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover {
    &::before,
    &::after{
      background-color: $color-secondary;
      box-shadow: none;
    }
  }

  &:active {
    &::before,
    &::after{
      background-color: $btn-down;
    }
  }
}

@media (#{$mobile-widths-only}) {

  .main-menu--closed .main-menu__list {
    display: none;
  }

  .main-menu--closed .main-menu__top {
  background-color: rgba(0, 0, 0, 0.3);
  }

  .main-menu--opened .main-menu__list {
    display: block;
  }

//  .main-menu--opened .main-menu__top{
//    background-color: none;
//  }

  .main-menu--opened .main-menu {
  background-color: $color-main;
  }

  .main-menu--nojs .main-menu__toggle {
    display: none;
  }

  .main-menu--nojs .main-menu__list {
    display: block;
  }
//
//  .main-menu--nojs .main-menu__top{
//    background-color: none;
//  }
}

.main-menu__lists {
    @include reset;
    list-style: none;
  }

.main-menu__list {
//  background: $color-main;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;
  text-align: center;
  display: none;

  a {
    display: block;
    padding: 11px 0;
    @include link;
    font-size: $font-size;
    line-height: $line-height + 8;
    text-transform: uppercase;

    &:hover {
    color: $color-secondary;
    }

    &:active {
    color: $color-link--down;
    }
  }

  &--active {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 116px;
      left: 116px;
      bottom: 0;
  //      width: 100%;
      height: 2px;
      background-color: $color-link;
    }

    &:hover {
      &::after {
        background-color: $color-link--hover;
      }
    }

    a {
      &:hover {
        color: $color-link--hover;
      }
    }
  }
}


