.modal-ok {
  width: 320px;
  height: 380px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.modal-ok__text {
  padding-bottom: 13px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: $font-size--small;
  line-height: $font-size--big;
  font-weight: normal;
  color: $color-main;
  text-align: center;
  }

.modal-ok__btn {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 48px;
  padding-bottom: 53px;
  background-color: $gray-light;
}

.modal-ok__content {
  background-color: $color-link;
}

.modal-ok__title {
  padding-top: 42px;
  padding-bottom: 10px;
  font-size: $font-size;
  line-height: $font-size--big;
  font-weight: bold;
  text-align: center;
  color: #000000;
}
