.modal-error {
  width: 320px;
  height: 290px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.modal-error__text {
  padding-left: 20px;
  padding-right: 20px;
  font-size: $font-size--small;
  line-height: $font-size--big;
  font-weight: normal;
  color: $color-main;
  text-align: center;
  }

.modal-error__btn {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
}

.modal-error__content {
  background-color: $color-link;
}

.modal-error__title {
  padding-top: 42px;
  padding-bottom: 25px;
  font-size: $font-size;
  line-height: $font-size--big;
  font-weight: bold;
  text-align: center;
  color: #000000;
}
