.page-header {
//  display: flex;
//  flex-direction: column;
  background: $color-main url(../img/bg-back-mobile@1x.jpg) no-repeat 50% 0%;
//  @include container();
  width: 320px;
  margin: 0 auto;
}

@media (min-width: $tablet-widths) and (max-width: $desktop-widths) {
  .page-header {
//    display: flex;
//    flex-direction: column;
    width: 660px;
  }
}

.page-header__title {
  margin: 0;
  padding: 0;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 36px;
  padding-bottom: 75px;
  font-size: $font-size--big;
  font-weight: lighter;
  color: $color-link;
  text-align: center;
}
