.page-footer__title {
  color: $color-main;
  font-size: $font-size--big;
  line-height: $line-height;
  font-weight: lighter;
  text-align: center;
}

.page-footer__contact {
  color: $color-secondary;
  font-size: $font-size--big;
  line-height: $line-height;
  font-weight: 100;


  &--link {
    text-decoration: none;
  }
}

.page-footer__contacts {
  text-align: center;
  b {
    color: $color-main;
    font-size: $font-size;
    font-weight: bold;
  }
}

.page-footer__copyright {
  text-align: center;
}
