.page-header {
//  background-color: $color-main;
  width: 320px;
  margin: 0 auto;

//  с другого кода
  position: relative;
  margin-bottom: -72px;
  width: 100%;
//  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;

}

.page-header__title {
  margin: 0;
  padding: 0;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 36px;
  padding-bottom: 75px;
  font-size: $font-size--big;
  font-weight: 300;
  color: $color-link;
  text-align: center;
}


//@media (max-width: $tablet-widths) {
//  .page-header {
//    background-image: url(/img/bg-back-mobile@1x.jpg);
//  }
//    @media (min-resolution: 144dpi),
//          (min-resolution: 1.5dppx){
//      .page-header{
//      background-image: url(/img/bg-back-mobile@2x.jpg);
//      background-size: 700px auto;
//    }
//  }
//}

@media (min-width: $tablet-widths) and (max-width: $desktop-widths) {
  .page-header {
    width: 660px;
    margin: 0 auto;
//    background-image: url(/img/bg-back-tablet@1x.jpg);
  }
//    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
//      .page-header {
//        background-image: url(/img/bg-back-tablet@2x.jpg);
//        background-size: 1200px auto;
//      }
//    }
}

@media (min-width: $tablet-widths){
  .page-header__title {
    padding: 78px 75px;
    font-size: 50px;
    line-height: 60px;
    &--large {
      padding-bottom: 145px;
    }
  }
}

@media (min-width: $desktop-widths) {
  .page-header {
    width: 960px;
//    background-image: url(/img/bg-back-desktop@1x.jpg);
  }
//    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
//      .page-header{
//        background-image: url(/img/bg-back-desktop@2x.jpg);
//        background-size: 2560px auto;
//      }
//    }

  .page-header__title {
    &--large {
      padding-top: 70px;
      padding-bottom: 145px;
      padding-left: 290px;
      padding-right: 290px;
    }
  }
}
