.page-footer__title {
  color: $color-main;
  font-size: $font-size--big;
  line-height: $line-height;
  font-weight: lighter;
  text-align: center;
}

.page-footer__contact {
  color: $color-secondary;
  font-size: $font-size--big;
  line-height: $line-height;
  font-weight: 100;


  &--link {
    text-decoration: none;
  }
}

.page-footer__contacts {
  text-align: center;
  b {
    color: $color-main;
    font-size: $font-size;
    font-weight: bold;
  }
}

.page-footer__copyright {
  text-align: center;
  font-size: $font-size--small;
  line-height: $font-size;
}

.page-footer__map {
  width: 320px;
  height: 219px;
  }

.page-footer__phone, .page-footer__mail,
  .page-footer__address {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.page-footer__wrapper {
  display: none;
}

@media (min-width: $tablet-widths) and (max-width: $desktop-widths){
  .page-footer__map {
    width: 660px;
    height: 428px;
}
  .page-footer__title {
    font-size: 40px;
    line-height: 48px;
  }
}

@media (min-width: $tablet-widths) {
  .page-footer__contacts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .page-footer__phone, .page-footer__mail,
  .page-footer__address {
    width: 310px;
    flex-grow: 1;
    padding-bottom: 42px;
  }

  .page-footer__wrapper {
    @include container();
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
  }
}

@media (min-width: $desktop-widths) {
  .page-footer__map {
    width: 960px;
    height: 522px;
  }

  .page-footer__title {
    font-size: 50px;
    line-height: 60px;
  }

  .page-footer__mail {
    order: 2;
  }

  .page-footer__contact {
    padding-top: 20px;
  }
}
