.rates {
  padding-bottom: 48px;
  outline: 1px solid red;
  background-color: $gray-light;

}

.rates__fon {
  @include container();
}

.rates-table__value {
  padding: 17px;
  background: $color-main;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  border: 2px solid #e5e5e5;

  span {
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
  }
}

.rates-table__field {
  width: 280px;
  padding: 14px;
  padding-left: 22px;
  color: $color-main;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: $color-link;
  border: 2px solid $gray-input;
  &--yes {
    background-image: url(/img/icon-yes.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  &--no {
    background-image: url(/img/icon-no.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.rates-table {
  margin-bottom: 34px;
  border-collapse: collapse;
}

@media (max-width: $tablet-widths){
  .rates-table {
    margin-top: 91px;
    width: 840px;
    margin-left: -260px;
  }

  .rates__fon {
    background: url(/img/bg-triangle-white.svg) no-repeat -820px 0;
}


  .rates-table--hidden {
    display: none;
  }

  .rates-table__field {
    &--yes {
    background-position: 90%;
  }
    &--no {
    background-position: 90%;
  }
  }

}

@media (min-width: $tablet-widths) and (max-width: $desktop-widths) {
  .rates {
  padding-bottom: 67px;
}

  .rates__fon {
    padding-top: 50px;
    background: url(/img/bg-triangle-white.svg) no-repeat -520px 0;
  }

  .rates-table {
    margin-top: 41px;
    margin-bottom: 0;
    width: 620px;
  }

  .rates-table__field {
    width: 153px;
    text-transform: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    vertical-align: middle;
    text-align: center;
  }

  .rates__toggles-wrapper {
    display: none;
  }

  .rates-table__value {
    padding-top: 9px;
    padding-bottom: 5px;
    font-size: 16px;
  }
}

@media (min-width: $desktop-widths) {
  .rates {
  padding-bottom: 67px;
}

  .rates__fon {
    padding-top: 50px;
    background: url(/img/bg-triangle-white.svg) no-repeat -220px 0;
  }

  .rates-table {
    margin-top: 98px;
    width: 940px;
  }

  .rates-table__field {
    width: 234px;
    text-transform: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 24px;
    font-size: 18px;
    vertical-align: middle;
    text-align: center;
  }

  .rates__toggles-wrapper {
    display: none;
  }
}
